# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.idea/
.vscode/

# Notebooks
notebooks/

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Generated plots / exported files
*.png

airline_sentiment_classification_word2vec_ann.py